<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beagl.WebApp</title>
    <link rel="stylesheet" href="~/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Beagl.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
